h2 {
    color: whitesmoke;
    padding: 15px;
}

.gallery {
    margin: 5px;
    border: 2px solid white;
    border-radius: 25px;
    float: left;
    width: 400px;
    transition: all 1s;
}
  
.gallery:hover {
    border: 2px solid var(--eden);
}
  
.gallery img {
    width: 100%;
    height: auto;
}
  
.desc {
    padding: 15px;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.content .about {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: aliceblue;
    text-align: center;
    align-items: center;
    width: 75%;
    border-radius: 10px;
}

.content .about h2,  .content .about h3 {
    color: var(--eden) !important;
    font-size: xx-large;
    text-decoration: underline;
}

.content .about .services .service {
    background-color: white;
    border: 2px solid var(--eden);
    border-radius: 5px;
    overflow: hidden;
    padding: 25px;
}

.content .about .services .service p {
    text-align: justify;
    font-size: large;
}

.content .about .services .service a {
    text-decoration: none;
    font-size: medium;
    color: whitesmoke;
    font-weight: 800;
    padding: 10px;
    background-color: var(--pelorous);
    border: 1px solid var(--eden);
    border-radius: 5px;
    transition: all 0.85s;
    cursor: pointer;
}

.content .about .services .service .text {
    background: none !important;
    color: var(--eden);
}

.content .about .services .service .service-illustration {
    width: 450px;
    height: auto;
}

.content .about .services .service a:hover {
    background-color: var(--glacier);
}

.flights {
    padding: 35px;
    display: flex;
    flex-direction: column;
}

.results {
    padding: 40px;
    background-color: white;
}

.submit-button {
    padding: 7.5px;
    color: whitesmoke;
    background-color: var(--glacier);
    border: 2px solid var(--eden);
    font-size: large;
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.85s;
}

.submit-button:hover {
    background-color: var(--pelorous);
}

.submit-button:focus {
    outline: none;
}

.search-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    background-color: var(--pelorous);
}

select {
    padding: 7.5px;
    font-size: large;
    font-weight: 800;
}

select:focus {
    outline: none;
}

select option {
    /* Change to custom's option className */
    padding: 7.5px;
    font-size: large;
    font-weight: 800;
}

.add-plan {
    border-radius: 15px;
    padding: 15px;
    border: 2px solid var(--eden);
    display: flex;
    flex-direction: column;
    width: fit-content;
    text-align: justify;
}

.add-plan label {
    font-size: 18px;
    color: whitesmoke;
}

.add-plan textarea, .comment-input{
    resize: vertical !important;
    min-height: 45px;
}

.input.comment-input {
    padding: 20px;
    margin: 20px;
    width: 400px;
}

.next-destinations h3 {
    color: whitesmoke;
    padding: 15px;
    text-decoration: underline;
}

.destinations {
    display: flex;
    flex-direction: row;
    padding: 10px;
    overflow-x: scroll;
}

.destinations::-webkit-scrollbar {
    width: 8px;
    background:var(--glacier);
}

.destination::-webkit-scrollbar {
    width: 0px;
}
  
.destinations::-webkit-scrollbar-thumb, .destination::-webkit-scrollbar-thumb {
    padding: 5px;
    color: white;
}

.destinations .destination {
    min-width: 250px;
    border-radius: 25px;
    border: 2px solid var(--eden);
    background-color: aliceblue;
    overflow-y: scroll;
    width: 1000px;
    max-height: 100px;
    padding: 25px;
    margin: 15px;
}

.destinations .destination h4 {
    min-width: 250px;
    color: var(--eden);
    font-size: larger;
}

.destinations .destination h6 {
    color: var(--pelorous);
    font-size: small;
}

.destinations .destination p {
    color: var(--pelorous);
    font-size: small;
}

.destinations .destination span {
    color: var(--pelorous);
    font-size: small;
}

.feed::-webkit-scrollbar {
    border: 3px solid whitesmoke;
    border-radius: 15px;
    background-color: transparent;
}

.feed {
    margin: 15px;
    padding: 35px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    height: 600px;
    overflow-y: scroll;
    border-radius: 15px 0 0 15px;
}

.comments-feed {
    margin: 15px;
    padding: 35px;
    min-height: 30px;
    height: auto;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border-radius: 15px 0 0 15px;
}

.feed .post {
    padding: 15px;
    border-top: 1px solid var(--pelorous);
    overflow-y: scroll;
    min-height: 250px;
}

.about-page h2 {
    font-size: 30px !important;
}

.info-container {
    padding: 20px;
    font-size: x-large;
}

.our-team {
    justify-content: center;
    text-align: center;
    width: fit-content;
    padding: 15px;
    padding-top: 0px !important;
    padding-bottom: 60px !important;
}

.our-team p {
    padding: 5px;
    text-decoration: underline;
    font-weight: 700;
}

.original-post {
    position: relative;
    padding: 35px;
    margin: 10px;
    min-height: 70px;
    overflow-y: scroll;
}

.comment {
    position: relative;
    height: auto;
    overflow-y: hidden;
    min-height: 60px;
}

.comments-dialog {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.comments-button {
    justify-content: center;
    padding: 2px;
    border: 1px solid transparent;
    border-radius: 50px;
    background: none;
    transition: all 0.85s;
}

.comments-button:hover {
    border: 1px solid var(--eden);
}

.comment-icon {
    width: auto;
    height: 20px;
    margin: 2px;
    font-size: 20px;
    color: var(--eden);
    border: 1px solid none;
    transition: all 0.85s;
}

.comments-button:hover .comment-icon {
    opacity: 0.75;
}


.add-comment {
    min-height: 350px;
}

.edit-post {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edit-dialog .input {
    resize: vertical !important;
}

@media (max-width: 700px) {
    .content {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    .content .about {
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: aliceblue;
        text-align: center;
        align-items: center;
        width: 75%;
        border-radius: 10px;
    }
    
    .content .about h2,  .content .about h3 {
        color: var(--eden) !important;
        font-size: x-large;
        text-decoration: underline;
    }
    
    .content .about .services .service {
        background-color: white;
        border: 2px solid var(--eden);
        border-radius: 5px;
        overflow: hidden;
        padding: 25px;
    }
    
    .content .about .services .service p {
        text-align: justify;
        font-size: medium;
    }
    
    .content .about .services .service a {
        text-decoration: none;
        font-size: medium;
        color: whitesmoke;
        font-weight: 700;
        padding: 10px;
        background-color: var(--pelorous);
        border: 1px solid var(--eden);
        border-radius: 5px;
        transition: all 0.85s;
        cursor: pointer;
    }
    
    .content .about .services .service .text {
        background: none !important;
        color: var(--eden);
    }
    
    .content .about .services .service .service-illustration {
        width: 250px;
        height: auto;
    }
    
    .content .about .services .service a:hover {
        background-color: var(--glacier);
    }

    .add-plan {
        border-radius: 15px;
        padding: 25px;
        margin-bottom: 40px;
        border: 2px solid var(--eden);
        display: flex;
        flex-direction: column;
        width: 80%;
        text-align: justify;
    }
    
    .add-plan label {
        font-size: 18px;
        color: whitesmoke;
    }

    .add-plan input {
        width: 90%;
    }
    
    .add-plan textarea{
        resize: vertical !important;
        min-height: 45px;
        width: 90%;
    }

    .edit-dialog .input, .input.comment-input {
        width: 290px;
    }
}
  