@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  --eden: #114C5F;
  --pelorous: #40A4BC;
  --glacier: #76B6C7;
  --tower-gray: #A8C0C4;
}

::-webkit-scrollbar {
  width: 8px;
  background-image: linear-gradient(180deg, var(--glacier), var(--tower-gray));
}

::-webkit-scrollbar-thumb {
  padding: 5px;
  background-color: var(--pelorous);
  border-radius: 24px;
  transition: all 0.6s;
}

::-webkit-scrollbar-thumb:hover {

}

.App {
    background-image: linear-gradient(180deg, var(--glacier), var(--tower-gray));
}

.banner {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.banner img {
  height: 450px;
  width: auto;
  border-radius: 100%;
  border: 2px solid var(--tower-gray);
}

.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.login h1 {
  color: whitesmoke;
}

.label {
  font-size: 22px;
  margin-left: 20px;
  color: whitesmoke;
}

.input {
  border: 2px solid rgba(42, 42, 42, 0.4);
  border-radius: 25px;
  padding: 6px 14px 6px 14px;
  transition: all 0.55s;
  font-size: 22px;
  width: 400px;
  cursor: pointer;
}

.input:focus {
  border: 2px solid var(--eden);
  outline: none;
}

.input:hover {
  border: 2px solid var(--eden);
}

.card-body .btn1 {
  text-align: center;
}

.submit-btn {
  font-size: 24px;
  padding: 0 10px 2px 10px;
  border-radius: 20px;
  border: 2px solid var(--eden);
  transition: all 0.75s;
  cursor: pointer;
  color: var(--eden);
  text-align: center;
  width: 100%;
}

.submit-btn:hover {
  color: whitesmoke;
  background-color: var(--eden);
  border: 2px solid whitesmoke;
}

.btn1 {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  transition: all 1.05s;
  border: 2px solid transparent;
  border-radius: 20px;
} 

.btn1 p {
  color: var(--eden);
  font-size: 20px;
  transition: all 1.05s;
  overflow: hidden;
}

.btn1 p a {
  text-decoration: none;
  color: whitesmoke;
  transition: all 1.05s;
}

.btn1:hover {
  cursor: pointer;
  background-color: var(--eden);
  border-radius: 25px;
  border: 2px solid whitesmoke;
}

.btn1:hover p {
  cursor: pointer;
  color: whitesmoke;
}

.btn1:hover p a {
  cursor: pointer;
  color: greenyellow;
}

.footer {
  position: relative;
  width: 100%;
  bottom: 0;
  background: var(--eden);
  color: whitesmoke;
  padding: 10px;
  margin-top: 20px;
}

.footer p {
  font-size: larger;
}

.footer-fa-icon {
  margin-left: 3px;
  margin-right: 3px;
  background: none !important;
  font-size: large;
  padding: 7px;
  transition: all 0.75s;
}

.footer-fa-icon:hover {
  background-color: white !important;
  color: var(--eden);
  border-radius: 50% !important;
}